{% ckan_extends %}

{% block organization_list %}
    <div class="clearfix"></div>

    <section class="groups" id="groups">
        <div class="container">
            <div class="row media-grid" data-module="media-grid">
                {% block organization_list_inner %}
                    {% for organization in organizations %}
                        {% snippet "organization/snippets/organization_item.html", organization=organization, position=loop.index, show_capacity=show_capacity %}
                    {% endfor %}
                {% endblock %}
            </div>
        </div>
    </section>
{% endblock %}