{% ckan_extends %}

{% block download_resource_button %}
    {% if res.datastore_active %}
        <button type="button" class="btn btn-primary dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
            <span class="caret"></span>
        </button>
        <ul class="dropdown-menu">
            <li>
                <a href="{{ h.url_for('datastore.dump', resource_id=res.id, bom=True) }}" target="_blank"><span>CSV</span></a>
                <a href="{{ h.url_for('datastore.dump', resource_id=res.id, format='tsv', bom=True) }}" target="_blank"><span>TSV</span></a>
                <a href="{{ h.url_for('datastore.dump', resource_id=res.id, format='json') }}" target="_blank"><span>JSON</span></a>
                <a href="{{ h.url_for('datastore.dump', resource_id=res.id, format='xml') }}" target="_blank"><span>XML</span></a>
            </li>
        </ul>
    {% endif %}
{% endblock %}