{% ckan_extends %}

{% block custom_styles %}
  {{ super() }}
  {# Styles from hri.fi #}
  <link rel="stylesheet" type="text/css" href="/data/fanstatic/vendor/:version:2022-04-28T09:53:12.16/select2/select2.min.css">
  <link rel="stylesheet" type="text/css" href="/data/fanstatic/vendor/:version:2022-04-28T09:53:12.16/font-awesome/css/font-awesome.min.css">
  <link rel="stylesheet" type="text/css" href="/data/fanstatic/sixodp_ui/:version:2022-04-28T09:49:26/font-awesome/css/font-awesome.min.css">
  <link rel="stylesheet" type="text/css" href="/data/fanstatic/sixodp_ui/:version:2022-04-28T09:49:26/:bundle:css/bootstrap-datetimepicker.min.css;css/sixodp_theme.css">
  <link href="https://hri.fi/data/vendor/photoswipe.css" rel="stylesheet">
  <link href="https://hri.fi/data/vendor/default-skin/default-skin.css" rel="stylesheet">
  {# END Stype from hri.fi #}

  <link rel="stylesheet" href="/lp_theme.css" />
{% endblock %}

