{% ckan_extends %}

{% block styles %}
  {% asset 'ckanext-lp_theme/bootstrap-css' %}
  {% asset 'ckanext-lp_theme/animate-css' %}
  {% asset 'ckanext-lp_theme/bootstrap-icons-css' %}
  {% asset 'ckanext-lp_theme/boxicons-css' %}
  {% asset 'ckanext-lp_theme/glightbox-css' %}
  {% asset 'ckanext-lp_theme/swiper-css' %}

  {% asset 'ckanext-lp_theme/custom-bootstrap-css' %}
  {% asset 'ckanext-lp_theme/eterna-template-css' %}
  {% asset 'ckanext-lp_theme/lp_theme-css' %}

  {# {% set theme = h.get_rtl_theme() if h.is_rtl_language() else g.theme %}
  {% asset theme %} #}
{% endblock %}