{% ckan_extends %}

{% block header_wrapper %}

    {% block header_account %}
    <section id="topbar" class="d-flex align-items-center">
        <div class="container d-flex justify-content-end">
            
            {% block header_account_container_content %}
                {% if c.userobj %}
                    <nav class="account avatar authed navbar" data-module="me" data-me="{{ c.userobj.id }}">
                        <ul>
                            {% block header_account_logged %}
                                {% if c.userobj.sysadmin %}
                                    <li>
                                        <a href="{{ h.url_for(controller='admin', action='index') }}" title="{{ _('Sysadmin settings') }}">
                                            <i class="fa fa-gavel" aria-hidden="true"></i>
                                            <span class="mx-1 text">{{ _('Admin') }}</span>
                                        </a>
                                    </li>
                                {% endif %}

                                <li>
                                    <a href="{{ h.url_for('user.read', id=c.userobj.name) }}" class="image" title="{{ _('View profile') }}">
                                        {{ h.user_image((c.user if c and c.user else ''), size=22) }}
                                        <span class="mx-1 username">{{ c.userobj.display_name }}</span>
                                    </a>
                                
                                </li>

                                {% set new_activities = h.new_activities() %}
                                
                                <li class="notifications {% if new_activities > 0 %}notifications-important{% endif %}">
                                    {% set notifications_tooltip = ngettext('Dashboard (%(num)d new item)', 'Dashboard (%(num)d new items)', new_activities) %}
                                    
                                    <a href="{{ h.url_for('dashboard.index') }}" title="{{ notifications_tooltip }}">
                                        <i class="fa fa-tachometer" aria-hidden="true"></i>
                                        <span class="mx-1 text">{{ _('Dashboard') }}</span>
                                        <span class="badge">{{ new_activities }}</span>
                                    </a>
                                </li>
                                
                                {% block header_account_settings_link %}
                                    <li>
                                        <a href="{{ h.url_for('user.edit', id=c.userobj.name) }}" title="{{ _('Profile settings') }}">
                                            <i class="fa fa-cog" aria-hidden="true"></i>
                                            <span class="mx-1 text">{{ _('Profile settings') }}</span>
                                        </a>
                                    </li>
                                {% endblock %}

                                {% block header_account_log_out_link %}
                                <li>
                                    <a href="{{ h.url_for('/user/_logout') }}" title="{{ _('Log out') }}">
                                        <i class="fa fa-sign-out" aria-hidden="true"></i>
                                        <span class="mx-1 text">{{ _('Log out') }}</span>
                                    </a>
                                </li>
                                {% endblock %}
                            
                            {% endblock %}
                        </ul>
                    </nav>
                {% else %}
                    <div class="social-links d-none d-md-flex align-items-center">
                        {% block header_account_notlogged %}
                            <li>
                                <a>{% link_for _('Log in'), named_route='user.login' %}</a>
                            </li>

                            {% if h.check_access('user_create') %}
                                <li>
                                    <a>{% link_for _('Register'), named_route='user.register', class_='sub' %}</a>
                                </li>
                            {% endif %}

                        {% endblock %}
                    </div>
                {% endif %}
            {% endblock %}

        </div>
    </section>
    {% endblock %}

    <!-- ======= Top Bar ======= -->
    <!-- <section id="topbar" class="d-flex align-items-center">
        <div class="container d-flex justify-content-center justify-content-md-between">
            <div class="contact-info d-flex align-items-center">
                <i class="bi bi-envelope d-flex align-items-center"><a href="mailto:contact@opendevcam.net">contact@example.com</a></i>
                <i class="bi bi-phone d-flex align-items-center ms-4"><span>+1 5589 55488 55</span></i>
            </div>
            <div class="social-links d-none d-md-flex align-items-center">
                <a href="#" class="twitter"><i class="bi bi-twitter"></i></a>
                <a href="#" class="facebook"><i class="bi bi-facebook"></i></a>
                <a href="#" class="instagram"><i class="bi bi-instagram"></i></a>
                <a href="#" class="linkedin"><i class="bi bi-linkedin"></i></i></a>
            </div>
        </div>
    </section> -->

    <!-- ======= Header ======= -->
    <header id="header" class="d-flex align-items-center">
        <div class="container d-flex justify-content-between align-items-center">
            <div class="logo">
                <h1><a href="{{ h.url_for('home.index') }}">{{ g.site_title }}</a></h1>
                <!-- Uncomment below if you prefer to use an image logo -->
                {# <a href="{{ h.url_for('home.index') }}"><img src="{{ g.site_logo }}" alt="" class="img-fluid"></a> #}
            </div>

            <nav id="navbar" class="navbar">
                <ul>
                    {{ 
                        h.build_nav_main(
                            ('home.index', _('Home')),
                            ('dataset.search', _('Datasets')),
                            ('organization.index', _('Organizations')),
                            ('group.index', _('Groups')),
                            ('home.about', _('About'))
                        ) 
                    }}
                    <li class="pe-lg-0 ps-lg-4 px-md-3">
                        {% block header_site_search %}
                        <form class="section site-search simple-input" action="{% url_for 'dataset.search' %}" method="get">
                            <div class="input-group">
                                <input type="text" class="form-control" name="q" placeholder="{{ _('Search') }}" aria-label="{{ _('Search datasets') }}">
                                <button class="btn btn-outline-secondary" type="submit" aria-label="{{ _('Submit') }}"><i class="bi bi-search"></i></button>
                            </div>
                        </form>
                        {% endblock %}
                    </li>
                    {# <li><a class="active" href="{{ h.url_for('home.index') }}">Home</a></li>
                    <li><a href="about.html">About</a></li>
                    <li><a href="services.html">Services</a></li>
                    <li><a href="portfolio.html">Portfolio</a></li>
                    <li><a href="team.html">Team</a></li>
                    <li><a href="blog.html">Blog</a></li>
                    <li class="dropdown"><a href="#"><span>Drop Down</span> <i class="bi bi-chevron-down"></i></a>
                        <ul>
                            <li><a href="#">Drop Down 1</a></li>
                            <li class="dropdown"><a href="#"><span>Deep Drop Down</span> <i class="bi bi-chevron-right"></i></a>
                                <ul>
                                    <li><a href="#">Deep Drop Down 1</a></li>
                                    <li><a href="#">Deep Drop Down 2</a></li>
                                    <li><a href="#">Deep Drop Down 3</a></li>
                                    <li><a href="#">Deep Drop Down 4</a></li>
                                    <li><a href="#">Deep Drop Down 5</a></li>
                                </ul>
                            </li>
                            <li><a href="#">Drop Down 2</a></li>
                            <li><a href="#">Drop Down 3</a></li>
                            <li><a href="#">Drop Down 4</a></li>
                        </ul>
                    </li>
                    <li><a href="contact.html">Contact</a></li> #}
                </ul>
                <i class="bi bi-list mobile-nav-toggle"></i>
            </nav><!-- .navbar -->
        </div>
    </header><!-- End Header -->
{% endblock %}