{% ckan_extends %}

{% block scripts %}
    {% asset 'ckanext-lp_theme/bootstrap-js' %}
    {% asset 'ckanext-lp_theme/purecounter-js' %}
    {% asset 'ckanext-lp_theme/glightbox-js' %}
    {% asset 'ckanext-lp_theme/isotope-layout-js' %}
    {% asset 'ckanext-lp_theme/swiper-js' %}
    {% asset 'ckanext-lp_theme/waypoints-js' %}
    {% asset 'ckanext-lp_theme/php-email-form-js' %}
    {% asset 'ckanext-lp_theme/lp_theme-js' %}
{% endblock %}

{% block breadcrumb %}
<section class="breadcrumbs" id="breadcrumbs">
    <div class="container-fluid">
        {% if self.breadcrumb_content() | trim %}
            <ol>
                {% snippet 'snippets/home_breadcrumb_item.html' %}
                {% block breadcrumb_content %}{% endblock %}
            </ol>
        {% endif %}
    </div>
</section>
{% endblock %}