{% ckan_extends %}

{% block primary_content %}

<section id="hero">
    <div class="hero-container">
        <div id="heroCarousel" data-bs-interval="5000" class="carousel slide carousel-fade" data-bs-ride="carousel">
            <!-- <div class="carousel-indicators" id="hero-carousel-indicators">
                <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
                <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1" aria-label="Slide 2"></button>
                <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2" aria-label="Slide 3"></button>
            </div> -->

            <div class="carousel-inner" role="listbox">

                <!-- Slide 1 -->
                <div class="carousel-item active" style="background-image: url(img/slide/slide-1.jpg)">
                    <div class="carousel-container">
                        <div class="carousel-content">
                            <h2 class="animate__animated animate__fadeInDown">Welcome to <span>{{ g.site_title }}</span></h2>
                            <p class="animate__animated animate__fadeInUp">{{ g.site_description }}</p>
                            <a href="" class="btn-get-started animate__animated animate__fadeInUp">Read More</a>
                        </div>
                    </div>
                </div>

                <!-- Slide 2 -->
                <!-- <div class="carousel-item" style="background-image: url(img/slide/slide-2.jpg)">
                    <div class="carousel-container">
                        <div class="carousel-content">
                            <h2 class="animate__animated fanimate__adeInDown">Lorem <span>Ipsum Dolor</span></h2>
                            <p class="animate__animated animate__fadeInUp">Ut velit est quam dolor ad a aliquid qui aliquid. Sequi ea ut et est quaerat sequi nihil ut aliquam. Occaecati alias dolorem mollitia ut. Similique ea voluptatem. Esse doloremque accusamus repellendus deleniti vel. Minus et tempore modi architecto.</p>
                            <a href="" class="btn-get-started animate__animated animate__fadeInUp">Read More</a>
                        </div>
                    </div>
                </div> -->

                <!-- Slide 3 -->
                <!-- <div class="carousel-item" style="background-image: url(img/slide/slide-3.jpg)">
                    <div class="carousel-container">
                        <div class="carousel-content">
                            <h2 class="animate__animated animate__fadeInDown">Sequi ea <span>Dime Lara</span></h2>
                            <p class="animate__animated animate__fadeInUp">Ut velit est quam dolor ad a aliquid qui aliquid. Sequi ea ut et est quaerat sequi nihil ut aliquam. Occaecati alias dolorem mollitia ut. Similique ea voluptatem. Esse doloremque accusamus repellendus deleniti vel. Minus et tempore modi architecto.</p>
                            <a href="" class="btn-get-started animate__animated animate__fadeInUp">Read More</a>
                        </div>
                    </div>
                </div> -->
            </div>
        </div>

        <a class="carousel-control-prev" href="#heroCarousel" role="button" data-bs-slide="prev">
            <span class="carousel-control-prev-icon bi bi-chevron-left" aria-hidden="true"></span>
        </a>

        <a class="carousel-control-next" href="#heroCarousel" role="button" data-bs-slide="next">
            <span class="carousel-control-next-icon bi bi-chevron-right" aria-hidden="true"></span>
        </a>
    </div>
</section><!-- End Hero -->

<main id="main">
    <!-- ======= Featured Section ======= -->
    <section id="featured" class="featured">
        <div class="container">
            <div class="section-title">
                <h2>Objectives</h2>
                <p></p>
            </div>
            <div class="row">
                <div class="col-lg-4">
                    <div class="icon-box">
                        <i class="bx bx-bulb"></i>
                        <h3><a href="">Learning</a></h3>
                        <p>
                            Learn among cluster members to effectively address policy engagement and awareness raising in an innovative and impactful way.
                        </p>
                    </div>
                </div>
                <div class="col-lg-4 mt-4 mt-lg-0">
                    <div class="icon-box">
                        <i class="bx bx-broadcast"></i>
                        <h3><a href="">Sharing</a></h3>
                        <p>
                            Share the available lessons learned and best practices among cluster members and the general public.
                        </p>
                    </div>
                </div>
                <div class="col-lg-4 mt-4 mt-lg-0">
                    <div class="icon-box">
                        <i class="bx bx-network-chart"></i>
                        <h3><a href="">Growing</a></h3>
                        <p>
                            Improve enabling environment for civic engagement in policy making.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </section><!-- End Featured Section -->

    <!-- ======= About Section ======= -->
    {# <section id="about" class="about">
      <div class="container">

        <div class="row">
          <div class="col-lg-6">
            <img src="img/about.jpg" class="img-fluid" alt="">
          </div>
          <div class="col-lg-6 pt-4 pt-lg-0 content">
            <h3>Voluptatem dignissimos provident quasi corporis voluptates sit assumenda.</h3>
            <p class="fst-italic">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore
              magna aliqua.
            </p>
            <ul>
              <li><i class="bi bi-check-circle"></i> Ullamco laboris nisi ut aliquip ex ea commodo consequat.</li>
              <li><i class="bi bi-check-circle"></i> Duis aute irure dolor in reprehenderit in voluptate velit.</li>
              <li><i class="bi bi-check-circle"></i> Ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate trideta storacalaperda mastiro dolore eu fugiat nulla pariatur.</li>
            </ul>
            <p>
              Ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate
              velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in
              culpa qui officia deserunt mollit anim id est laborum
            </p>
          </div>
        </div>

      </div>
    </section><!-- End About Section --> #}

    <!-- ======= Services Section ======= -->
    <section id="services" class="services">
        <div class="container">
            <div class="section-title">
                <h2>Topics</h2>
                <p></p>
            </div>
            <div class="row">
                <div class="col-lg-4 col-md-6 d-flex align-items-stretch">
                    <div class="icon-box">
                        <div class="icon"><i class="bi bi-incognito"></i></div>
                        <h4><a href="">Digital Literacy</a></h4>
                        {# <p>Voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi</p> #}
                    </div>
                </div>

                <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4 mt-md-0">
                    <div class="icon-box">
                        <div class="icon"><i class="bi bi-mortarboard"></i></div>
                        <h4><a href="">Education</a></h4>
                        {# <p>Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore</p> #}
                    </div>
                </div>

                <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4 mt-lg-0">
                    <div class="icon-box">
                        <div class="icon"><i class="bi bi-bank"></i></div>
                        <h4><a href="">Governance</a></h4>
                        {# <p>Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia</p> #}
                    </div>
                </div>

                <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4">
                    <div class="icon-box">
                        <div class="icon"><i class="bi bi-grid-3x3-gap"></i></div>
                        <h4><a href="">Indigeous Communities</a></h4>
                        {# <p>Modi nostrum vel laborum. Porro fugit error sit minus sapiente sit aspernatur</p> #}
                    </div>
                </div>

                <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4">
                    <div class="icon-box">
                        <div class="icon"><i class="bi bi-clipboard2"></i></div>
                        <h4><a href="">Laws and regulation</a></h4>
                        {# <p>At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis</p> #}
                    </div>
                </div>

                <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4">
                    <div class="icon-box">
                        <div class="icon"><i class="bi bi-tree"></i></i></div>
                        <h4><a href="">Natural Resource</a></h4>
                        {# <p>Quis consequatur saepe eligendi voluptatem consequatur dolor consequuntur</p> #}
                    </div>
                </div>
            </div>
        </div>
    </section><!-- End Services Section -->

    <section class="groups" id="portals">
        <div class="container">
            <div class="section-title">
                <h2>Related Portals</h2>
                <p></p>
            </div>
            <div class="row media-grid" data-module="media-grid">
                <div class="media-item col d-flex align-items-stretch">
                    <div class="icon-box">
                        <a href="https://chumrumdigital.com/" title="Chumrum Digital" class="media-view" target="_blank">
                            <img src="https://chumrumdigital.com/media/chumrum-digital-red.png" alt="chumrum-digital-red" class="img-fluid media-image">
                            <h5 class="media-heading">Chumrum Digital</h5>
                        </a>
                    </div>
                </div>
                <div class="media-item col d-flex align-items-stretch">
                    <div class="icon-box">
                        <a href="https://digitalhub101.com/" title="Digital Hub 101" class="media-view" target="_blank">
                            <img src="/img/related-portals/digital-hub.png" alt="DigitalHub101" class="img-fluid media-image">
                            <h5 class="media-heading">Digital Hub 101</h5>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- ======= Clients Section ======= -->
    <!-- <section id="clients" class="clients">
        <div class="container">
            <div class="section-title">
                <h2>Our Members</h2>
                <p>
                    Magnam dolores commodi suscipit. Necessitatibus eius consequatur ex aliquid fuga eum quidem. Sit sint consectetur velit. Quisquam quos quisquam cupiditate. Et nemo qui impedit suscipit alias ea. Quia fugiat sit in iste officiis commodi quidem hic quas.
                </p>
            </div>

        <div class="clients-slider swiper">
            <div class="swiper-wrapper align-items-center">
                {# {% set url = h.url_for(organization.type ~ '.read', id=organization.name) %} #}

                {% for organization in organizations %}
                    <div class="swiper-slide">
                        <img src="{{ organization.image_display_url or h.url_for_static('/base/images/placeholder-organization.png') }}" class="img-fluid" alt="{{ organization.name }}" />
                    </div>
                {% endfor %}

                <div class="swiper-slide"><img src="img/clients/client-1.png" class="img-fluid" alt=""></div>
                <div class="swiper-slide"><img src="img/clients/client-2.png" class="img-fluid" alt=""></div>
                <div class="swiper-slide"><img src="img/clients/client-3.png" class="img-fluid" alt=""></div>
                <div class="swiper-slide"><img src="img/clients/client-4.png" class="img-fluid" alt=""></div>
                <div class="swiper-slide"><img src="img/clients/client-5.png" class="img-fluid" alt=""></div>
                <div class="swiper-slide"><img src="img/clients/client-6.png" class="img-fluid" alt=""></div>
                <div class="swiper-slide"><img src="img/clients/client-7.png" class="img-fluid" alt=""></div>
                <div class="swiper-slide"><img src="img/clients/client-8.png" class="img-fluid" alt=""></div>
            </div>
            <div class="swiper-pagination"></div>
        </div>
      </div>
    </section> -->
    <!-- End Clients Section -->

  </main><!-- End #main -->
{% endblock %}