{% trans %}
<section id="about" class="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <img class="img-fluid" alt="about-lp" src="/img/about-lp.jpg">
                <!-- <a href="https://www.freepik.com/free-vector/ecological-press-conference-member-speaking-stage-before-audience-presenting-graphs-with-earth_12290980.htm#page=2&query=sustainable&position=8&from_view=search&track=sph">Image by pch.vector</a> on Freepik -->
            </div>
            <div class="col-lg-6 pt-4 pt-lg-0 content">
                <h3>Learning Platform</h3>
                <p>
                    The Learning Platform aims to be a free one-stop-shop knowledge-sharing portal, aggregating best practices, and lessons learned by the cluster members of the Civil Society Support (CSS) project. The portal will disseminate data and information for the wider CSO community and other interested stakeholders through its interactive and user-friendly content - available in both Khmer and English - made publicly accessible and free of charge. The contents of the Learning Platform are classified based on sectors, including education, environmental and natural resources, gender, journalism, and legal aids, which the cluster members implement.
                </p>
                
                <p>
                    The Learning Platform is developed by the Open Development Cambodia (ODC), under financial support from USAID Cambodia through FHI 360 for the Civil Society Support (CSS) Project.
                </p>
            </div>
        </div>

        <div class="row mt-4">
            <div class="col-lg-6 pt-4 pt-lg-0 content">
                <p>
                    <a href="https://opendevelopmentcambodia.net/" target="_blank">Open Development Cambodia (ODC)</a> is a leading open data platform in Cambodia, which makes up-to-date and reliable data and information on socioeconomic and environmental issues publicly available in a “one-stop shop.” ODC promotes the use of accurate data for evidence-based and transparent decision-making processes toward the sustainable development of the country.
                </p>
                <p>
                    For the past ten years, ODC has actively worked to enhance the amount of public data, raise public awareness, and build the capacity of relevant stakeholders. ODC uses its expertise in data and ICT, mapping and GIS, digital security, and research expertise to compile data, analyze and disseminate information in user-friendly and accessible digital formats. The material available on ODC's online platform includes datasets, information topic pages, interactive maps, news, and legal documents. ODC does not promote any particular perspective, agenda, or bias other than to provide objective information about Cambodia and its development.
                </p>
                <h3>Sustainability of the platform</h3>
                <p>
                    To ensure the long-term run of the Learning Platform and the sustainability of knowledge resource sharing, all the cluster members are encouraged to take ownership of the platform by having individual login access to upload the content. ODC will also provide additional capacity-building-related digital skills and tutorials for posting the content to the cluster members. The overall technical functioning of the website will be maintained by Open Development Cambodia.
                </p>
            </div>
            <div class="col-lg-6">
                <img class="img-fluid" alt="" src="/img/sustainable.jpg">
                <!-- <a href="https://www.freepik.com/free-vector/group-students-watching-online-webinar_8271020.htm#query=learning&position=7&from_view=search&track=sph">Image by pch.vector</a> on Freepik -->
            </div>
        </div>
    </div>
</section>
{% endtrans %}